<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticket System |{% block title %}{% endblock %}</title>
    {% block style %}
    {% endblock %}
</head>
<body>

{% block menu %}
{% endblock %}

{% block container %}
{% endblock %}

{% block javascript %}
{% endblock %}
</body>
</html>